.navbar-brand {
  color: #BFAC9B;
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 2em;
}

a {
  color: #BFAC9B;
  text-decoration: none;
  transition: 1s;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
}

a:hover, .navbar-brand:hover {
  color: #ccc;
  transition: 1s;
  box-shadow: 0 5px 25px 0 rgba(63, 45, 89, 1);
  background: rgba(63, 45, 89, .3);
  padding: 0;
}

.logo {
  margin-right: 2px;
}