/*
.navbar {
  background-color: #070707;
}
*/
.navbar-brand {
  color: #BFAC9B;
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 2em;
}

.navbar a {
  color: #BFAC9B;
  transition: 1s;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 1.5em;
  border: none;
}

.navbar a:hover {
  color: #ccc;
  transition: 1s;
  box-shadow: 0 10px 25px 0 rgba(63, 45, 89, 1);
  background: rgba(63, 45, 89, 0.4);
  border-radius: 10px;
  padding: 2px;
}

.logo {
  margin-right: 2px;
}

.dropdown-menu {
  background-color: #070707;
}

.dropdown-item {
  color: #BFAC9B;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 1.5em;
  background-color: #070707;
}