.card {
    font-family: 'Yusei Magic', sans-serif;
    color: #BFAC9B;
    background-color: #3F2D59;
    padding: 30px;
    border: groove 4px #6E65AE;
}

.btn {
    color:#BFAC9B;
    background-color: #262626;
}

.btn:hover {
    color:#070707;
    background-color: #73BFBF;
}