/* You can add global styles to this file, and also import other style files */

html body {
    background: #070707;
}

.btn {
    color:#BFAC9B;
    background-color: #262626;
}

.btn:hover {
    color:#070707;
    background-color: #73BFBF;
}

.material-icons {
    color: #ccc;
}