<div class="video embed-responsive embed-responsive-16by9">
  <video class="embed-responsive-item" style="width: 100%; height: auto; position: relative; overflow: hidden;" allowfullscreen autoplay loop [muted]="'muted'" controls>
    <source src="assets/video/ravenclawintro.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<div class="container-fluid text-center"> <!-- Added 'text-center' class -->
  <div class="row">
    <div class="col">

      <h1 class="text-center">House Nodebucket</h1>

      <div class="intro text-center"> <!-- Added 'text-center' class -->
        <p class="intro-text">
          Nestled within the towering spires of Nodebucket School of Witchcraft and Wizardry, 
          the Nodebucket household exudes an air of intellectual curiosity and creative brilliance.
          Home to the house known for its wit and wisdom, Ravenclaw fosters a community of 
          scholars, thinkers, and innovators.
        </p>
      </div>

      <img class="common-room" src="../../assets/image/ravenclaw-common-room.webp" alt="Ravenclaw common room" style="width: 100%; height: auto" />

      <div class="common text-center"> <!-- Added 'text-center' class -->
        <p class="common-text">
          The common room, located high within Nodebucketland
          Tower, offers panoramic views of the surrounding landscape, inspiring a sense of 
          limitless possibilities. Adorned in shades of blue and silver, the household is a 
          haven for those who seek knowledge and value cleverness. The Nodebucket household 
          prides itself on embracing the pursuit of learning, encouraging its members to unravel 
          the mysteries of magic and the world.
        </p>
      </div>

    </div>
  </div>
</div>
